/* reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

/* Utility Classes */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* Navbar */

#navbar {
  background: rgb(45, 45, 45);
  color: aliceblue;
  overflow: auto;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  display: block;
  text-align: center;
}

#navbar ul {
  list-style: none;
  float: right;
  padding: 20px;
}

#navbar ul li {
  float: left;
}

#navbar .logo {
  float: left;
  display: block;
}

#navbar .logo-text {
  align-self: center;
  display: block;
}

#quote h1 {
  text-decoration: none;
  color: black;
  font-size: 160px;
  line-height: 1.4em;
  text-align: right;
  display: flex;
  padding: 70px;
}
